<header>
    <p>Movie Lounge</p>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <p>Movies</p>
                    <img src="images/header-arrow.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <p>TV shows</p>
                    <img src="images/header-arrow.svg">
                </a>
            </li>
            <li>
                <div class="devider"></div>
            </li>
            <li>
                <a href="#">
                    <p>Actors</p>
                    <img src="images/header-arrow.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <p>Directors</p>
                    <img src="images/header-arrow.svg">
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <a href="#"><img src="images/header-notification.svg"></a>
        <a href="#"><img src="images/header-favorite.svg"></a>
        <a href="#"><img src="images/header-profile.png"></a>
        <input type="text" class="search-input" id="searchInput" placeholder="Search...">
    </div>
</header>