<main>
    <div class="signin-form">
        <div class="signin-form-container">
            <h1>Sign in to your account</h1>
            <form action="#" method="post" enctype="text/plain">
                <input type="text" id="name" name="name" placeholder="E-mail adress or phone number" required>
                <input type="password" id="email" name="email" placeholder="Password" required>
                <div class="remember-forgot">
                    <label for="remember-me">
                        <input type="checkbox" id="remember-me" name="remember">Remember me
                    </label>
                    <a href="#" class="forgot-password">Forgot password?</a>
                </div>

                <input class="signin-button" type="submit" value="Submit" onclick="nextStep()">
                <input class="signin-google" type="submit" value="Sign in with Google">
                <div class="sign-up">
                    <a href="#">Not a member yet?</a>
                    <a href="#">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</main>