/* ********** */
/* MOVIE-PAGE */
/* ********** */

/* ---------------- MOVIE NAME ------------------- */

.movie-banner {
    width: 100vw;
}

.movie-banner-inner {
    margin: 3em 12vw;
    position: relative;
}

.movie-banner-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.movie-banner img {
    width: 100%;
    display: block;
}

.movie-banner-content {
    position: absolute;
    left: 3em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.movie-banner-content div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.movie-banner-content h1 {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1.2em;
    color: #fff;
}

.movie-banner-content button {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
}

.movie-banner-content p {
    max-width: 40%;
    font-family: 'Prompt';
    font-weight: 300;
    font-size: .8em;
    color: #fff;
}

/* ---------------- INFO ------------------- */

.movie-info {
    margin: 0 12vw;
}

.movie-info h2 {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 1em;
}

.movie-info-inner {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
}

.movie-info .info-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.movie-info .info-column h3 {
    font-family: 'Prompt';
    font-weight: 300;
    font-size: 1em;
    color: var(--color-devider);
    margin-bottom: .2em;
}

/* column 1 */
.movie-info .info-column1>div:nth-of-type(1) img {
    width: 9vw;
}

.movie-info .info-column1>div:nth-of-type(2) div {
    display: flex;
    gap: 1em;
}

.movie-info .info-column1>div:nth-of-type(2) img {
    width: 5vw;
}

/* column 2 */
.movie-info .info-column2 p {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    margin-bottom: .5em;
}

/* column 3 */
.movie-info .info-column3 {
    transform: translateY(-7em);
}

.movie-info .info-column3 div div {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}


/* ---------------- COMMENTS ------------------- */

.comments {
    display: flex;
    flex-direction: column;
    margin: 5em 2em 0;
    padding: 0;
    border-radius: none;
    border: none;
    background-color: transparent;
}

.comments>h2 {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1.2em;
    color: #fff;
    padding-bottom: 1em;
}

.comments>div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.comments>div:nth-of-type(1) h2 {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: 1em;
    color: #fff;
}

.comments>div:nth-of-type(1) div {
    display: flex;
    align-items: center;
    gap: .7em;
}

.comments>div:nth-of-type(1) div img {
    display: block;
}

.comments>div:nth-of-type(1) div p {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: 1em;
    color: #fff;
}

.comments .comment-container-parent {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.comments .comment-container {
    display: flex;
    gap: 1em;
}

.comments .comment-container>div {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

/* write a comment */
.write-comment {
    display: flex;
    gap: 1em;
    padding-bottom: 4em;
}

.write-comment img {
    width: 2em;
    height: 2em;
}

.write-comment div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.write-comment>div>div:nth-of-type(1) {
    padding-bottom: 1em;
    border-bottom: solid 1px var(--color-devider);
}

.write-comment>div>div:nth-of-type(1) input {
    background-color: var(--color-defaultbackground);
    border: solid 1px var(--color-primary-tint3);
    padding: 1em 2em;
    border-radius: .8em;
    outline: none;
    width: 100%;

    font-family: 'Prompt';
    font-weight: 400;
    color: #fff;
}

.write-comment>div>div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.write-comment>div>div:nth-of-type(2) button {
    outline: none;
    padding: .7em 0;
    width: 8em;
    border-radius: 15px;
    cursor: pointer;

    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}

.write-comment>div>div:nth-of-type(2) button:nth-of-type(1) {
    background-color: var(--color-defaultbackground);
    border: solid 1px var(--color-primary-tint3);
}

.write-comment>div>div:nth-of-type(2) button:nth-of-type(2) {
    background-color: var(--color-secondary-tint1);
    border: none;
}

/* profile picture */
.comments .comment-container img {
    width: 2em;
    height: 2em;
}


/* naam + datum */
.comments .comment-container>div>div:nth-of-type(1) {
    display: flex;
    gap: 1em;
}

.comments .comment-container>div>div:nth-of-type(1)>h3 {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: .8em;
    color: #fff;
}

.comments .comment-container>div>div:nth-of-type(1) p {
    font-family: 'Prompt';
    font-weight: 300;
    font-size: .8em;
    color: var(--color-devider);
}


/* de comment zelf */
.comments .comment-container>div>p {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: .8em;
    color: #fff;
}


/* thumbs up/down */
.comments .comment-container div div {
    display: flex;
    align-items: center;
    gap: 2em;
}

.comments .comment-container div div div {
    display: flex;
    align-items: center;
    gap: .5em;
}

.comments .comment-container div div div p {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: .8em;
    color: #fff;
}

.comments .comment-container div div div img {
    display: block;
    width: 20px;
}



/* =========================================== */
/* -----------------DESKTOP------------------- */
/* =========================================== */

@media (min-width: 700px) {


    /* ---------------- INFO ------------------- */



    .movie-info-inner {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .movie-info .info-column3 {
        transform: translateY(0);
    }

    /* ---------------- COMMENTS ------------------- */

    .comments {
        display: flex;
        flex-direction: column;
        margin: 5em 4em 0;
        padding: 3em 4em;
        border-radius: 20px;
        border: solid 1px var(--color-primary-tint3);
        background-color: var(--color-secondarybackground);
    }


    .comments .comment-container-parent {
        gap: 1em;
    }

    .comments .comment-container {
        display: flex;
        gap: 1em;
        padding: 1em;
        background-color: var(--color-defaultbackground);
        border: solid 1px var(--color-primary-tint3);
        border-radius: 20px;
    }


    /* write a comment */

    .write-comment>div>div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1em;
    }

    /* naam + datum */

    /* de comment zelf */

    /* thumbs up/down */

}