/* ******* */
/* SIGN IN */
/* ******* */

.signin-form {
    margin: 0;
}

.signin-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 11em auto;
}

.signin-form-container h1 {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    margin-bottom: 2em;
}

.signin-form-container form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 2em;
}


/* ---------------- EMAIL + PASSWORD ------------------- */

.signin-form-container form>input {
    background-color: var(--color-defaultbackground);
    border: solid 1px var(--color-primary-tint3);
    padding: 1em 2em;
    border-radius: .8em;
    margin-bottom: 1.5em;
    outline: none;
    width: 100%;

    font-family: 'Prompt';
    font-weight: 400;
    color: var(--color-devider);
}


/* ---------------- REMEMBER ME + FORGOT PASSWORD ------------------- */

.signin-form-container .remember-forgot {
    display: flex;
    justify-content: space-between;
}

.signin-form-container .remember-forgot label {
    display: flex;
    gap: .5em;
    align-items: center;

    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}

.signin-form-container .remember-forgot label input[type="checkbox"] {
    /* hiding the checkbox */
    margin: 0;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: solid 1px var(--color-primary-tint3);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.signin-form-container .remember-forgot label input[type="checkbox"]:checked {
    background-image: url('../images/checkmark.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.signin-form-container .remember-forgot label input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.signin-form-container .remember-forgot a {
    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 500;
    color: #fff;
}


/* ---------------- SUBMIT ------------------- */

.signin-form-container form>.signin-button {
    background-color: var(--color-secondary-tint1);
    border: none;
    margin-top: 3em;
    outline: none;

    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}


/* ---------------- GOOGLE SUBMIT ------------------- */

.signin-form-container form>.signin-google {
    background-color: var(--color-defaultbackground);
    border: solid 1px var(--color-primary-tint3);
    outline: none;

    font-family: 'Prompt';
    font-weight: 400;
    color: #fff;

    background-image: url('../images/google.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
}

.signin-form-container .sign-up {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.signin-form-container .sign-up a:nth-of-type(1) {
    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}

.signin-form-container .sign-up a:nth-of-type(2) {
    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 500;
    color: #fff;
}



/* =========================================== */
/* -----------------DESKTOP------------------- */
/* =========================================== */

@media (min-width: 700px) {

    /* ******* */
    /* SIGN IN */
    /* ******* */

    .signin-form {
        margin: 6em auto 3em;
        width: 35em;
        padding: 5em 3em;
        background-color: var(--color-secondarybackground);
        border: solid 1px var(--color-primary-tint3);
        border-radius: 1em;
    }

    /* ****** */
    /* STEP 1 */
    /* ****** */

    .signin-form-container {
        margin: 0;
    }

    .signin-form-container form {
        width: 100%;
        padding: 0;
    }
}