/* ******* */
/* SIGN UP */
/* ******* */

/* ****** */
/* STEP 1 */
/* ****** */

.signin-form {
    margin: 0;
}

#step-1 .signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 11em auto;
}

#step-1 .signup-form-container h1 {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    margin-bottom: 2em;
}

#step-1 .signup-form-container form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 2em;
}


/* ---------------- EMAIL + PASSWORD ------------------- */

#step-1 .signup-form-container form>input {
    background-color: var(--color-defaultbackground);
    border: solid 1px var(--color-primary-tint3);
    padding: 1em 2em;
    border-radius: .8em;
    margin-bottom: 1.5em;
    outline: none;
    width: 100%;

    font-family: 'Prompt';
    font-weight: 400;
    color: var(--color-devider);
}

#step-1 .signup-form-container form>input:focus {
    color: #fff;
}


/* ---------------- REMEMBER ME + FORGOT PASSWORD ------------------- */

#step-1 .signup-form-container .remember-forgot {
    display: flex;
    justify-content: space-between;
}

#step-1 .signup-form-container .remember-forgot label {
    display: flex;
    gap: .5em;
    align-items: center;

    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}

#step-1 .signup-form-container .remember-forgot label input[type="checkbox"] {
    /* hiding the checkbox */
    margin: 0;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: solid 1px var(--color-primary-tint3);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

#step-1 .signup-form-container .remember-forgot label input[type="checkbox"]:checked {
    background-image: url('/ProjectTech24Team2/images/checkmark.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

#step-1 .signup-form-container .remember-forgot label input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    visibility: hidden;
}

#step-1 .signup-form-container .remember-forgot a {
    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 500;
    color: #fff;
}


/* ---------------- SUBMIT ------------------- */

#step-1 .signup-form-container .signup-button {
    background-color: var(--color-secondary-tint1);
    border: none;
    margin-top: 3em;
    outline: none;

    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}


/* ---------------- GOOGLE SUBMIT ------------------- */

#step-1 .signup-form-container .signup-google {
    background-color: var(--color-defaultbackground);
    border: solid 1px var(--color-primary-tint3);
    outline: none;

    font-family: 'Prompt';
    font-weight: 400;
    color: #fff;

    background-image: url('/ProjectTech24Team2/images/google.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
}

#step-1 .signup-form-container .sign-up {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

#step-1 .signup-form-container .sign-up a:nth-of-type(1) {
    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}

#step-1 .signup-form-container .sign-up a:nth-of-type(2) {
    font-family: 'Prompt';
    font-size: .8em;
    font-weight: 500;
    color: #fff;
}




/* ****** */
/* STEP 2 */
/* ****** */

#step-2 .signup-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8em auto 3em;
    width: 100%;
    height: auto;
    padding: 0 2em;
}


/* ---------------- PROGRESS BAR ------------------- */

#step-2 .signup-form-container .line {
    background-color: var(--color-primary-tint3);
    height: 2px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
    position: relative;
    margin: 0 0 3em 0;
}

#step-2 .signup-form-container .line .line-progress {
    position: absolute;
    width: 26%;
    height: 2px;
    background-color: var(--color-secondary-tint1);
    border-radius: 4px;
    margin-left: -.5em;
    z-index: 1;
}

#step-2 .signup-form-container .line a {
    height: 12px;
    width: 12px;
    transform: translateY(-43%);
    border-radius: 9px;
    background-color: var(--color-primary-tint3);
}

#step-2 .signup-form-container .line a:nth-of-type(1),
#step-2 .signup-form-container .line a:nth-of-type(2) {
    background-color: var(--color-secondary-tint1);
}


/* ---------------- GO BACK & SKIP STEP ------------------- */

#step-2 .signup-form-container .back-skip {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5em;
}

#step-2 .signup-form-container .back-skip a {
    display: flex;
    gap: .5em;
}

#step-2 .signup-form-container .back-skip a p {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: .8em;
    color: #fff;
}

#step-2 .signup-form-container .back-skip a:nth-of-type(1) img {
    display: block;
    transform: rotate(90deg);
}

#step-2 .signup-form-container .back-skip a:nth-of-type(2) img {
    display: block;
    transform: rotate(-90deg);
}


/* ---------------- SELECT GENRE ------------------- */

#step-2 .signup-form-container h1 {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    margin-bottom: 2em;
}

#step-2 .signup-form-container>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2em;
}

#step-2 .signup-form-container>ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.genre-box {
    background-color: var(--color-primary-tint1);
    box-shadow: 0 0 0 1px var(--color-primary-tint3);
    border-radius: 1em;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-box.genre-selected {
    background-color: var(--color-primary-tint1);
    box-shadow: 0 0 0 3px var(--color-secondary-tint1);
    border-radius: 1em;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-box img {
    width: 50%;
    height: 50%;
}

#step-2 .signup-form-container>ul li a p {
    font-family: 'Prompt';
    font-weight: 400;
    font-size: .8em;
    color: #fff;
}


/* ---------------- NEXT ------------------- */

#step-2 .signup-form-container .next-button {
    position: sticky;
    bottom: 2em;

    background-color: var(--color-secondary-tint1);
    border: none;
    margin-top: 3em;
    padding: 1em 2em;
    border-radius: .8em;
    outline: none;
    width: 100%;

    font-family: 'Prompt';
    font-weight: 400;
    color: #fff;
}



/* =========================================== */
/* -----------------DESKTOP------------------- */
/* =========================================== */

@media (min-width: 700px) {

    /* ******* */
    /* SIGN UP */
    /* ******* */

    .signup-form {
        margin: 6em auto 3em;
        width: 35em;
        padding: 5em 3em;
        background-color: var(--color-secondarybackground);
        border: solid 1px var(--color-primary-tint3);
        border-radius: 1em;
    }

    /* ****** */
    /* STEP 1 */
    /* ****** */

    #step-1 .signup-form-container {
        margin: 0;
    }

    #step-1 .signup-form-container form {
        width: 100%;
        padding: 0;
    }



    /* ****** */
    /* STEP 2 */
    /* ****** */

    #step-2 .signup-form-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 8em auto 3em;
        width: 100%;
        height: auto;
        padding: 0 2em;
    }

    #step-2 .signup-form-container {
        margin: 0;
        padding: 0;
    }


    /* ---------------- GO BACK & SKIP STEP ------------------- */

    #step-2 .signup-form-container .back-skip {
        margin-bottom: 3em;
    }


    /* ---------------- SELECT GENRE ------------------- */

    #step-2 .signup-form-container>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5em;
    }

    #step-2 .signup-form-container>ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
    }

    .genre-box {
        width: 100%;
        height: 6em;
    }

    .genre-box img {
        width: 50%;
        height: 50%;
    }

    #step-2 .signup-form-container>ul li a p {
        font-family: 'Prompt';
        font-weight: 400;
        font-size: .8em;
        color: #fff;
    }


    /* ---------------- NEXT ------------------- */

    #step-2 .signup-form-container .next-button {
        position: sticky;
        bottom: 2em;

        background-color: var(--color-secondary-tint1);
        border: none;
        margin-top: 3em;
        padding: 1em 2em;
        border-radius: .8em;
        outline: none;
        width: 100%;

        font-family: 'Prompt';
        font-weight: 400;
        color: #fff;
    }

}