<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div id="signUp-view">
        <h2>Account Sign up</h2>
        <form id="sign-up-form" action="/login" method="GET">
            <label for="username">fill in your username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">fill in your password</label>
            <input type="password" id="password" name="password"  required>

            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>