/**************/
/* CSS REMEDY */
/**************/


*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    /* backgrounds colors */
    --color-defaultbackground: #101727;
    --color-secondarybackground: #152037;
    

    /* font colors */
    --color-headerfontcolor: #fff;
}


/* *************** */
/* GENERAL STYLING */
/* *************** */


body {
    margin: 0;
    padding: 0;
    background-color: var(--color-defaultbackground);
}


h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/* utility classes */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.contact-line {
    display: block;
}



/* ****** */
/* HEADER */
/* ****** */

header {
    display: flex;
    justify-content: space-between;
}

header>p {
    font-family: 'Prompt';
    font-weight: 700;
    font-style: normal;
    font-size: clamp(1.6em, 2.4vw, 3.5em);
    color: var(--color-headerfontcolor)
}

ul {
    display: flex;
}

header>div {
    display: flex;
}





/* WEG HALEN */

main {
    display: none;
}